{% load staticfiles %}

<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}PLN - Twitter{% endblock %}</title>

        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "css/main.css" %}" rel="stylesheet">

        {% block head %}
        {% endblock %}

    </head>

    <body>
        <header>
            <div class="container">
                <div class="col-sm-4" id="site_header"></div>   
                <div class="col-sm-7" id="title_header">
                    <h1>Tokenizador y Analizador Morfólogico de Tweet's</h1>
                </div>
            </div>
        </header>
        
        <div class="container">
            <hr>
            <div class="row">
                <div class="form-group">
                    <h3>Digite el Tweet a analizar:</h3>
                    {% csrf_token %}
                    <textarea class="form-control" rows="6" id="textarea_tweet"></textarea>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary col-sm-3" id="btn_send_tweet">Analizar Tweet</button>
                    <button type="button" class="btn btn-danger col-sm-3 col-sm-offset-6" id="btn_clean">Limpiar</button>
                </div>
            </div>
            <hr>
        </div>
        
        <div class="container">
            <div class="row" id="div_result">

            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>

        {% block scripts %}
        {% endblock %}
        
    </body>
</html>